<div aria-live="off" class="password-fields">
  <p>{{ t 'app.confirmtransferallcoursestoanotheruser' }}</p>
  <div>
    <select class="transfer-ownership-select-field" data-transferfrom="{{ _id }}"></select>
  </div>
  <div id="courseTransferError" class="error field-error feedback" style="position: static;"></div>
</div>