<div aria-live="off" class="course-transfer-fields">
  <label for="transferOwnershipSelectField">
    {{ courseTransferMessage }}
    <span id="courseTransferError" class="field-error feedback"></span>
  </label>
  <div>
    <select id="transferOwnershipSelectField" class="transfer-ownership-select-field" data-transferfrom="{{ _id }}"></select>
  </div>
</div>