<div class="sidebar-item-inner">
  <div class="separator"></div>
    <button class="help-dialog-management-edit-sidebar-save action-primary">
      <span class="help-dialog-management-edit-sidebar-save-inner">
        {{t 'app.save'}}
      </span>
    </button>
    <button class="help-dialog-management-edit-sidebar-cancel action-secondary">
    <span class="help-dialog-management-edit-sidebar-cancel-inner">
      {{t 'app.cancel'}}
    </span>
  </div>
</div>