<div class="help-dialog-title">
  <h3>{{{ helpDialogTitle }}}</h3>
</div>

<div class="hel-dialog-title">
  {{{ helpDialog }}}
</div>

<ul class="help-dialog-choice-list">
  <li>
    <a class="next-view-link" data-help-dialog-next-view="TechnicalIssueView">
    {{ t 'app.helpdialog.technicalissue.link' }}
    </a> 
  </li>

  <li>
    <a class="next-view-link" data-help-dialog-next-view="AccessibilityIssueView">
      {{ t 'app.helpdialog.accessibilityissue.link' }}
    </a> 
  </li>
</ul>