{{#unless hidePagination}}
<div class="pagination">
  <span class="sr-only">{{paginationAria}}</span>
  <span aria-hidden="true">{{paginationLabel}}</span>
</div>
{{/unless}}
<div role="heading" class="step-title" aria-level="{{ariaLevel}}">{{title}}</div>
