<h3>{{{ helpDialogTitle }}}</h3>

<p>
  <a href='{{ platformissuelink }}' target='_blank'>{{{ t 'app.helpdialog.platformissue.text' }}}</a>
</p>

<div>
  <button class="help-dialog-back-button action-primary">{{ t 'app.back' }}</button>
</div>