<h3>{{{ helpDialogTitle }}}</h3>

<p>
  {{ t 'app.helpdialog.technicalissue.text' }}
</p>

<ul class="help-dialog-choice-list">
  <li>
    <a class="next-view-link" data-help-dialog-next-view="TechnicalIssueWithCourseView">
    {{ t 'app.helpdialog.technicalissuewithcourse.text' }}
    </a> 
  </li>
  <li>
    <a class="next-view-link" data-help-dialog-next-view="PlatformIssueView">
      {{ t 'app.helpdialog.platformissue.text' }}
    </a> 
  </li>
</ul>