<div class="help-dialog-title">
  <h3>{{{ helpDialogTitle }}}</h3>
</div>

<div class="hel-dialog-title">
  {{{ helpDialog }}}
</div>

<div>
  <a class="next-view-link" data-help-dialog-next-view="TechnicalIssueView">
  {{ t 'app.helpdialog.technicalissue.text' }}
  </a> 
</div>

<div>
  <a class="next-view-link" data-help-dialog-next-view="AccessibilityIssueView">
    {{ t 'app.helpdialog.accessibilityissue.text' }}
  </a> 
</div>