<a href="#contentPane-inner" class="bypass-block-btn button button--skip-link">{{{ t 'skip-to-main' }}}</a>
<a href="#fab-message-at-button" class="bypass-block-btn button button--skip-link">{{{ t 'skip-to-help-dialog' }}}</a>