<div class="list-item">
  <span data-editor></span>
  <button title="{{ t 'app.clone' }}" class="field-help btn secondary fa fa-clone" type="button" data-action="clone"></button>
  <button title="{{ t 'app.delete' }}" class="btn warning fa fa-close" type="button" data-action="remove"></button>
</div>
