<div class="readable-id-label">Readable ID: <span class="readable-id-value">{{readableID}}</span></div>
<input id="_readableID" name="_readableID" type="text" autocomplete="off">
<div class="field-error" data-error=""></div>
