<select id="_selectTalkCharacter" name="_selectTalkCharacter">
  {{#each characters}}
  <option id="{{characterID}}" value="{{characterID}}">{{title}}</option>
  {{/each}}
</select>
<div class="field-error" data-error=""></div>
