<select id="_selectScreen" name="_selectScreen">
  {{#each screens}}
  <option id="{{screenID}}" value="{{screenID}}">{{title}}</option>
  {{/each}}
</select>
<div class="field-error" data-error=""></div>
