<div class="login-navigation-bar-bg">
  <div class="login-navigation-right">
    <a href="#" class="langspot login-navigation-item aut" onclick="togglelang()">
      {{! ESDC - added translation handler for language name}}
      <span style="color: black;" lang="{{t 'app.langswitcherCode'}}">{{t 'app.langswitcher'}}</span>
    </a>
  </div>
</div>
