    <div class="options-dropdown-menu">
      <button class="options-dropbtn options-drop-element" aria-expanded="false" aria-label="{{t 'app.optionsmenu'}}"><i aria-hidden="true" class="fa fa-ellipsis-v fa-fw"></i></button>
      <div style="display:none" id="options-dropdown" class="dropdown-content options-inner-dropdown">
      </div>
    </div>
