<div class="sidebar-bg">
   <button class="collapse-sidebar" aria-label="Side Menu" aria-exapanded="false"><i class="fa {{_icon}}" aria-hidden="true"></i><span>Collapse Sidebar</span></button>
</div>
<div class="sidebar-inner {{#if _displayNone}}display-none{{/if}}">
	<div class="sidebar-breadcrumb">
	</div>
	<div class="sidebar-item-container">
	</div>
	<div class="sidebar-fieldset-container">
</div>
